<h1>Eat Dat Burger!</h1>


<div class="container">
  <div class="row">
    <div class="col-xs-4">
      {{#each burgers}}
        {{#if this.devoured}}
          <!--do nothing here because handlebars cannot do 'not'-->
        {{else}}
          <button class="btn btn-warning btn-md">{{this.id}}. {{this.burger_name}}</button>
        {{/if}}
      {{/each}}
    </div>
    <div class="col-xs-4">
      <form action="/api/updatedBurger" method="POST">
        {{#each burgers}}
          {{#if this.devoured}}
            <!--do nothing here because handlebars cannot do 'not'-->
          {{else}}
            <button type="submit" class="btn btn-danger btn-md" value={{this.id}}>Devour It!!!</button>
          {{/if}}
        {{/each}}
      </form>
    </div>
    <div class="col-xs-4">
      
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center enter_section">
      <form action="/api/postedBurger" method="POST">
        <input type="text" name="burger_name" class="form-control">
        <button type="submit" class="btn btn-md btn-primary" placeholder="Enter Your Favorite Burger...">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
